@font-face {
    font-family: "Sacco Bold";
    src: local("Sacco Bold"),
     url("./fonts/sacco-bold.ttf") format("truetype");
    font-weight: bold;
    }
@font-face {
    font-family: "Sacco Condensed";
    src: local("Sacco Condensed"),
    url("./fonts/sacco-condensed.ttf") format("truetype");
    font-weight: bold;
    }

.container{
    margin-top: 25px;
    padding: 2px 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 13%;
    float: left;
    margin-right: -95px;
    margin-left: 95px;
}