@font-face {
  font-family: "Sacco Bold";
  src: local("Sacco Bold"),
   url("./fonts/sacco-bold.ttf") format("truetype");
  font-weight: bold;
  color: #FFD036;
  }
@font-face {
  font-family: "Sacco Condensed";
  src: local("Sacco Condensed"),
  url("./fonts/sacco-condensed.ttf") format("truetype");
  font-weight: bold;
  color: #FFD036;
  }
.ui.form-container {
    color: red;
  }

.form-container{
  width: 600px;
    margin:auto;
    color: #FFD036!important;
}



/* .discription-form{
 
} */
.button-form{
 background-color:#FFD036!important;
 color:#1A252B !important;
 margin-bottom: 50px;
}