@font-face {
  font-family: "Sacco Bold";
  src: local("Sacco Bold"),
   url("./fonts/sacco-bold.ttf") format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "Sacco Condensed";
  src: local("Sacco Condensed"),
  url("./fonts/sacco-condensed.ttf") format("truetype");
  font-weight: bold;
  }

.img {
  display: block;
  width: 100%;
  align-items: center;
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}