@font-face {
    font-family: "Sacco Bold";
    src: local("Sacco Bold"),
     url("./fonts/sacco-bold.ttf") format("truetype");
    font-weight: bold;
    }
@font-face {
    font-family: "Sacco Condensed";
    src: local("Sacco Condensed"),
    url("./fonts/sacco-condensed.ttf") format("truetype");
    font-weight: bold;
    }

.nav-bar-home {
    background-color: #1c2529;
    color: #fdd05a;
    font-family:"Sacco Condensed";
    margin-bottom: -2px;
   
}
.item {

    color: #fdd05a;
    font-family:"Sacco Condensed";
  
    letter-spacing: .5vw;
}
